*{
    overflow: hidden;
}

body {
    margin: 0;
    background-image: url(images/background.jpg);
}

form{
    display: table;
    width: 100%;
    height: 100%;
}
.button {
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(173, 171, 255), rgb(124, 135, 255), #505dc9);
    position: relative;
    border: 2px solid #1b0d74;
    border-radius: 8px;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 75%;
    transition: all 0.5s;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button:hover {
    background: radial-gradient(#f0f0f0, #e8e8e8, #d0d0d0);
    color: black;
}

table {
    height: 100%;
}

tr {
    height: 50%;
}

.area_6{
    width: 100%;
    height: 100%;
}

.area_6 .sect {
    width: 16.6666666666666666%;
}

.area_3{
    width: 100%;
    height: 100%;
}

.area_3 .sect {
    width: 33.33333333333%;
}

.area_4{
    width: 100%;
    height: 100%;
}

.area_4 .sect {
    width: 25%;
}

.sect {
    display: table-cell;
    width: 15%;
    height: 16.666666666%;
    text-decoration: none;
    float: left;
}